body {
  font-family: 'Poppins', sans-serif;
	font-size: 16px;
	background-color: rgba(200, 245, 180, 0.4);
	text-align: center;
  margin: 50px;
  min-width: 1400px;
  height: 800px;
}

section, header {
  margin: 50px;
}

#header {
  border-bottom: 1px solid black;
  padding: 0px 0px 5px 0px;
}

.container {
  margin: 25px auto 50px auto;
  padding: 0px 0px 40px 0px;
  background-color: rgba(130, 75, 75, 0.2);;
  border: 1px solid black;
  box-shadow: 0 12px 22px rgba(0,0,0,0.30), 0 6px 7px rgba(0,0,0,0.34);
  width: 300px;
  border-radius: 5px;
}

code {
  background-color: whitesmoke;
}

#return {
  width: 1200px;
}

hr {
  margin: 60px auto 40px auto;
  width: 1200px;
}

input {
  margin-top: 20px;
  margin-bottom: 20px;
}

input[type="text"] {
  padding: 5px 5px 5px 10px;
  width: 190px;
  border: 1px solid black;
  border-radius: 3px;
}

input[type="submit"] {
  margin-left: 10px;
  height: 27px;
  border-radius: 3px;
  background-color: rgba(175, 215, 255, 0.8);
  border: 1px solid black;
  cursor: pointer;
  font-weight: bold;
}
